@charset "UTF-8"; 

@font-face {
    font-family:Arial, Helvetica, sans-serif ;
    src: url(fontes/idroid.otf);
}


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(182, 182, 182);
    
}

header{
    
    
    background-image: linear-gradient(to top,#89e4af, #649272);
    color: white;
    margin: 0%;
    padding: 20px; }

    nav > a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        margin-right: 30px;
        text-align: left;
        
    }
    nav > a:hover {
        text-decoration: underline;
    
    }
    header > h1 {
        text-align: center;

    }

    header > p {
        text-align: center;
    }
   
    article {
        text-align: center;
        background-color: white;
        
        width: 800px;
        
        padding: 10px;
        margin: auto;
    }
 aside > ul {
    text-align: justify;



 }


    aside{
        background-color: white;
        text-align: center;
        
        width: 800px;
        
padding: 10px;
margin: auto;
    }

    footer {
        background-color: #89e4af;
        text-align: center;
    }