@charset "UTF-8";
body{
background-color: rgba(133, 201, 201, 0.603);
font-family: Arial, Helvetica, sans-serif;
}

/*em html é id = em css é #
em html é class = em css é .
*/


h1{
 color: rgb(2, 49, 49);

}
h1#principal { 
    text-align: center;
}

h2{
 color: rgb(3, 68, 68);

}

.basico{
    color: blueviolet;
} 
.intermediario {
    color: palevioletred;
}

.avançado {
    color: orchid;
}